DATABASE_URL="postgresql://postgres:postgres@localhost:5432/replica_eu?schema=public"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-openssl-rand-base64-32"

NEXT_PUBLIC_APP_URL="http://localhost:3000"

NEXT_PUBLIC_SUPABASE_URL="https://your-project.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="ey_replace"

STRIPE_SECRET_KEY="sk_test_replace"
STRIPE_WEBHOOK_SECRET="whsec_replace"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_replace"

RESEND_API_KEY="re_replace"
EMAIL_FROM="Replica EU <orders@example.com>"

UPLOADTHING_SECRET="sk_live_replace"
UPLOADTHING_APP_ID="replace"
